.post-heading {
    text-align: center;
    font-size: 16px;
}

.post-heading p {
    margin:0;
}


.section {
    background-color: #EDF1F5;
    border-bottom-color: #D8DCE0;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    margin: 10px;
    padding-left: 10px;
}

.section h3{
    padding-top: 10px;
    margin: 0;
}

.section .inner {
    padding-right: 10px;
    padding-bottom: 10px;
}

.jelly {
    border: 3px solid #000000;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #ffffff;
}

.jelly p{
    margin-left: 15px;
}

.post-type-wrapper {
    display: inline-block;
}

.post {
    width: 719px;
    float:left;
    border-right: 1px solid #000000;

}

.right-side-bar {
    width: 230px;
    text-align: center;
    margin: auto 10px;
    margin-top: 9%;
    float: left;


}