body {
    background-color: #fdfdfd;
    color: #2e2e2e;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 28px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


div.content {
    border: 3px solid #fbfbfb;
    background-color: #fff;
    max-width: 970px;
    width: 96%;
    padding: 2%;
    margin: 28px auto;
}

.base-navbar {
    font-family: ariel,sans-serif;
    background: #000000;
    height: 50px;
    width: 100%;
    color: red;
    display: block;

}
.base-navbar a {
    text-decoration: none;
    color: red;
}
.container .BH{
    float: right;
    color: #337ab7;
}

.container .logo{
    font-weight: bold;
    font-size: 31px;
}

.page-navbar {
    background-color: #27739F;
    height: 45px;
    width: 100%;

}

.page-navbar h2{
    margin: 0;
    padding: 10px;
    color: white;
    text-transform: uppercase;
}