{% extends 'home/base.html' %}

{% load staticfiles %}

{% block header %}
    <link href="{% static 'index.css' %}" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

{% endblock header %}

{% block content %}
    <div class="content">
        <p>CITE: Center for Interactive Torah Education’s motto is “connecting Jews worldwide through Torah and Mussar
            using today’s technology.” We offer interactive classes for men and women of all ages and Jewish
            backgrounds. The classes are online allowing students to learn in the comfort of their own home, office, or
            any desired environment. “Skype” in and learn Torah, read our weekly emails on the Torah portion, ask a
            question regarding Jewish philosophy or Talmudic law on the Q&A blog. We have Webex classes where you can
            interact in one of our many classes given by a Rabbi or Rebbetzin. The goal of CITE is to challenge the mind
            of the individual with a high level of Torah education presented in a fashion where any person can benefit
            regardless of Jewish background. Come join us in exploring the profundity of Torah and character development
            (Mussar).</p>
    </div>
{% endblock content %}