{% extends 'home/base.html' %}

{% load staticfiles %}

{% block header %}
    <link href="{% static 'index.css' %}" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

{% endblock header %}

{% block content %}
    <div id="hangman-start-button">
    <form action="{% url 'hangman:index' %}" class="inline">
        <input class="btn btn-default" id="submit-button" type="submit" value="Play"/>
    </form>
    </div>
{% endblock content %}