{% load staticfiles %}

<div class="left-side-bar">

    <div class="sidebar">
        <h2>CITE</h2>

        <h3>Archives</h3>

        <ul>
            <li>Food For Thought</li>
            <li>D'var Torahs</li>
        </ul>

        <h4>Shiurim</h4>

        <ul>
            <li>Let's Shmuz</li>
            <li>The Sugya</li>
            <li>Jewish Brain Teasers & Torah Riddles</li>
            <li>Binoseha Women Classes</li>
            <li>Breakfast Speeches</li>
        </ul>
    </div>
</div>