#hangman-start-button {
    position: absolute;
    left: 50%;
    right: 50%;
    width:350px;
    height:20px;
    margin-left:-10px; /* -1/2 width */
    margin-top:20%; /* -1/2 height */
}

.btn {
    background-color: #4888EF !important;
    width: 100px !important;
}