{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block header %}
{% endblock %}

{% block content %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis cursus dui. Nam efficitur mauris nisl, vel
        varius ex volutpat eu. Nullam dictum varius aliquet. Sed tristique purus purus, ut condimentum dolor ultrices
        ut. Curabitur ante purus, commodo eu finibus quis, ultricies a sem. Suspendisse id nunc leo. Fusce lobortis
        aliquam tincidunt. Donec vel dui id nibh posuere facilisis faucibus ac leo. Pellentesque quam ipsum, elementum
        vitae facilisis tincidunt, viverra nec tellus. Phasellus mollis dolor et semper molestie. Curabitur ut dui
        sapien. Nunc luctus ante vel neque bibendum cursus. Cum sociis natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus.</p>

      <p> Sed in porttitor lacus. Vivamus mattis rhoncus sapien, quis egestas purus vehicula vitae. Curabitur iaculis
        maximus ligula, sed facilisis dui. Vivamus ornare maximus elit non porta. Aenean dictum diam a auctor accumsan.
        Praesent enim metus, posuere in elit vel, iaculis sodales erat. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </p>
{% endblock %}