{% extends 'blog/post.html' %}
{% load staticfiles %}

{% block header %}
    <link href="{% static 'parsha-question.css' %}" rel="stylesheet">
{% endblock %}
{% block page-navbar %}
    <h2>Parsha: {{ question.parsha.eng_name }}</h2>
{% endblock %}

{% block post %}
    <div class="article-wrapper">
        <div class="artcile-head">
            <h2>{{ question.title|title }}</h2>

            <h3>Parsha: {{ question.parsha.eng_name|title }}</h3>
        </div>
        <article>
            <p>{{ question.content|safe }}</p>
        </article>
    </div>
{% endblock %}

{% block right-side-bar %}
    {% if related_questions %}
        <h3>More Questions</h3>
        <ul>
            {% for q in related_questions %}
                <li><a href="{% url 'blog:parsha_question_detail' q.id %}">{{ q.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}