{% extends 'blog/post.html' %}

{% block page-navbar %}
    <h2>Gemara: {{ subheader }}</h2>
{% endblock %}

{% block post %}
    <article>
        <header>
        <div class="post-heading">
            <h1> {{ post.title }} </h1>

            <p>Daf: {{ post.daf }} </p>
            <p>Amud:
                {% if post.amud == '0' %}
                    &#1488;
                    {% else %}
                   &#1489;
                {% endif %}
            </p>
        </div>
            {% if post.statement_set %}
                <div class="section">
                    <h3>The Breakdown</h3>

                    <div class="inner">
                        {% for s in post.statement_set.all %}
                            <div class="jelly">
                                <p>{{ s.statement }}</p>

                                <p>~ {{ s.person.name }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>no statements exist</p>
            {% endif %}

            {% if post.content %}
                <div class="section">
                    <h3>Notes On the Daf</h3>

                    <div class="inner">
                        <div class="jelly">
                            <p>{{ post.content|safe }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="section">
                <p>
                    Posted on
                    <time datetime="{{ post.created|date:"c" }}">
                        {{ post.created|date }}
                    </time>
                </p>
            </div>
        </header>
        <div class="section">
            <p class="description">
                {{ post.description }}
            </p>
        </div>
    </article>
{% endblock %}

{% block right-side-bar %}
    <h3>Related Post</h3>
    {% if related_posts %}
        {% for related_post in related_posts %}
            <a href="{{ related_post.get_absolute_url }}">
                {{ related_post.title }}
            </a>
        {% endfor %}
    {% else %}
        <p>No related posts</p>
    {% endif %}
{% endblock %}