{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
    <h2>{{ sefer }}</h2>

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Parsha</th>
                <th>Number of Questions</th>
            </tr>
            </thead>
            <tbody>
            {% if parshas %}
                {% for parsha in parshas|dictsort:'parsha__order' %}
                    <tr>
                        <td>
                            {% with parsha.parsha__eng_name.split|join:"_" as new_val %}
                                <a href="{% url 'blog:parsha_questions_list' new_val %}">{{ parsha.parsha__eng_name|title }}</a>
                            {% endwith %}
                        </td>
                        <td>{{ parsha.total }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No parshas</td>
                    <td>{{ parsha_count.Miketz.value }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}