{% extends 'minyan_mailer/base.html' %}
{% load tz %}
{% load minyan_mailer_filters %}

{% block page-title %}{{ value|localtime }}{{ davening.title }} at {{ davening.minyan.name|title }}{% endblock %}
{% block content %}


    <table class="table table-striped table-bordered">
        <thead>
        </thead>
        <tbody>
        {% if davening %}
            <tr>
                <td>Minyan</td>
                <td>{{ davening.minyan.name|title }}</td>
            </tr>
            <tr>
                <td>Davening</td>
                <td>{{ davening.title }}</td>
            </tr>
            <tr>
                <td>Weekday</td>
                <td>{{ davening.days }}</td>
            </tr>
            <tr>
                <td>Davening Time</td>
                <td>{{ davening.davening_time|time }}</td>
            </tr>
            <tr>
                <td>Davening Group</td>
                    <td>
                        {{ davening.primary_davening_group | title  }}
                    </td>
            </tr>
            <td>
                        <form action="#" method="post">
                            {% csrf_token %}

                                {{ sign_up_form.as_p }}
                            <input type="hidden" name="davening_id" value="{{ d.id }}" />
                            <input type="submit" value="Submit"/>
                        </form>
                    </td>
        {% else %}
            <tr>
                <td>No Davening</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {% if is_gabbai %}
        {# TODO: check for authentication and if is gabbai #}
        <p>YOU DA GABBAI</p>
        <a href="{% url 'minyan_mailer:davening_create' davening.minyan.id %}">Create Davening</a>
    {% endif %}
{% endblock content %}