{% extends 'minyan_mailer/base.html' %}

{% load minyan_mailer_filters %}

{% block page-title %}{{ davening.title }} at {{ davening.minyan.name|title }}{% endblock %}
{% block content %}
    <table class="table table-striped table-bordered">
        <thead>
        </thead>
        <tbody>
        {% if davening %}
            <tr>
                <td>Minyan</td>
                <td>{{ davening.minyan.name|title }}</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{ davening.title }}</td>
            </tr>
            <tr>
                <td>Weekday</td>
                <td>{{ davening.days }}</td>
            </tr>
            <tr>
                <td>Davening Time</td>
                <td>{{ davening.davening_time|time }}</td>
            </tr>
            <tr>
                <td>Email Group</td>
                {% if davening.davening_groups %}
                    <td>
                    {% for group in davening.davening_groups.all %}
                        {{ group.title|title }},
                    {% endfor %}
                    </td>
                {% else %}
                    <td>None</td>
                {% endif %}
            </tr>
            <td>
                        <form action="#" method="post">
                            {% csrf_token %}

                                {{ sign_up_form.as_p }}
                            <input type="hidden" name="davening_id" value="{{ d.id }}" />
                            <input type="submit" value="Submit"/>
                        </form>
                    </td>
        {% else %}
            <tr>
                <td>No Davening</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock content %}