{% extends 'minyan_mailer/base.html' %}

{% load minyan_mailer_filters %}

{% block page-title %}Minyan Profile{% endblock %}
{% block content %}
    <h1>The Heilegeh {{ minyan.name }} Minyan</h1>
    <h2>Davening Schedule:</h2>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Davening</th>
            <th>Weekday</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        {% if davenings %}
            {% for d in davenings %}
                <tr>
                    <td>

                        <a href="{% url 'minyan_mailer:davening_detail' d.id %}">{{ d.title }}</a>
                    </td>
                    <td>{{ d.day_of_week|get_weekday_string|title }}</td>
                    <td>{{ d.davening_time|time }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>No Davenings</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {% if user.is_authenticated %}
        {# TODO: check for authentication and if is gabbai #}
        <a href="{% url 'minyan_mailer:new_davening' minyan.id %}">New Davening</a>
    {% endif %}

    <div>
    <p>For any questions please contact: {{ minyan.gabbai.user.username }} at {{ minyan.contact_email }}</p>
    </div>

{% endblock content %}