{% extends 'minyan_mailer/base.html' %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}


{% load minyan_mailer_filters %}

{% block page-title %}Minyan Profile{% endblock %}
{% block content %}
    {% if not TIME_ZONE %}
        <p>No time zone</p>
    {% endif %}
    {{ TIME_ZONE }}
    <h1>The Heilegeh {{ minyan.name | title }} Minyan</h1>
    <h2>Davening Schedule:</h2>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Davening</th>
            <th>Weekday(s)</th>
            <th>Time</th>
            {% if is_gabbai %}
                <th>Mailing</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% if davenings %}
            {% for d in davenings %}
                <tr>
                    <td>
                        <a href="{% url 'minyan_mailer:davening_profile' d.id %}">{{ d.title }}</a>
                    </td>
                    <td>{{ d.days }}</td>
                    <td>{{ d.davening_time|time }}</td>
                    {% if is_gabbai %}
                        {% if d.periodic_mailing.id %}
                            <td>
                                <a href="{% url 'minyan_mailer:periodic_mailing_edit' d.periodic_mailing.id %}">Edit
                                    Mailing</a>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>No Davenings</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {% if is_gabbai %}
        {# TODO: check for authentication and if is gabbai #}
        <p>YOU DA GABBAI</p>
        <a href="{% url 'minyan_mailer:davening_create' minyan.id %}">Create Davening</a>
    {% endif %}

    <div>
        <p>For any questions please contact: {{ minyan.gabbai.user.username }} at {{ minyan.contact_email }}</p>
    </div>

{% endblock content %}