{% extends 'minyan_mailer/base-v2.html' %}
{% block page-title %}Account{% endblock %}
{% block content %}
    <div class="container">
    <h1>Hello {{ user.username }}</h1>
    <h2>Your Current Minyans:</h2>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Minyan</th>
            <th>Created</th>
            <th>Gabbai</th>
        </tr>
        </thead>
        <tbody>
        {% if minyans %}
            {% for m,k in minyans.items %}
                <tr>
                    <td>
                        <a href="{% url 'minyan_mailer:minyan_profile' m.id %}">{{ m.name }}</a>
                    </td>
                    <td>{{ m.created|date:'Y-m-d' }}</td>
                    <td>
                        {% if k == 1 %}
                            <p>Gabbai</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>No Minyans</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <a href="{% url 'minyan_mailer:minyan_create' %}">Register A New Minyan</a>
    </div>
{% endblock content %}